---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<div align="justify">
<h2><u>University of Nevada, Reno</u></h2> 
<h3>PHYS 181 - Physics for Scientists and Engineers II</h3>
Thermodynamic laws, kinetic theory, electric charge, field, potential, current, dielectrics, circuit elements, magnetic fields and materials, electromagnetic oscillations.
<br>
<br>
<i>Recitation Videos</i>
<br>
I have created a series of recitation videos to accompany the course as taught by Dr. Kristin Lewis. These videos can be found <a href="https://www.youtube.com/channel/UCIcA-7xWHtvpt3D8w2Z7-Qg">here</a>.
<br>
<br>
I held the learning assistant position for this class for four semesters (from Fall 2017 to Spring 2019) where I provided in-class assistance, review lectures, office hours for tutoring, and created a series of recitation videos to accompany lectures (see above).
<hr>
<h3>MATH 295/301/302 - Introduction to Proofs</h3>
Foundations of mathematical proof writing for advanced courses in the Math/Stat majors. Proof methods will be applied to topics in logic; mathematical induction; elementary set theory; functions; properties of integers and real numbers.
<br>
<br>
I held the position as teaching assistant (Summer 2018) for the NevadaFit summer program for incoming freshman where my duties include providing review lectures and grading. I was also the grader for this course for several semesters.
<hr>
<h3>PHYS 151 - General Physics I</h3>
For non-physical science majors. Kinematics, energy and momentum conservation, rotational dynamics, thermodynamics, fluids, harmonic motion and sound. Laboratory experiments illustrate many of these fundamental principles.
<br>
<br>
I help positions as a learning assistant (Spring 2017), providing in-class assistance, review lectures, and office hours for tutoring, as well as a teaching assistant for the NevadaFit summer program for incoming freshmen (Summer 2017-2018).
<hr>
<h3>Grader Appointments</h3>
Undergraduate courses, Department of Mathematics and Statistics, 2017-2019
<br>
<ul>
	<li>
		MATH 283 - Calculus III (Fall 2018)
	</li>
	<li>
		MATH 295/301/302 - Introduction to Proofs (Spring 2017 - Spring 2019)
	</li>
	<li>
		MATH 310 - Real Analysis I (Spring 2019)
	</li>
	<li>
		MATH 448 - Partial Differential Equations (Spring 2018)
	</li>
</ul>
</div>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
