---
layout: archive
permalink: /year-archive/
title: "Posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<h2>The Barry Goldwater Scholarship</h2>
<div align="justify">
<br/><img src='/images/facesofthepack.jpg' width='140' height='140' align='left' hspace="15"> I was recently featured in NevadaToday for receiving the Barry Goldwater Scholarship. Check out the article and my tips for applying for this prestigious honor. If you're applying, good luck! <a href="https://gpanelli.github.io/posts/2019/08/facesofthepack/">Read More</a>
</div>
<br>
<br>

<h2>The GPS.DM Collaboration</h2>
<div align="justify">
<br/><img src='/images/gpsdm.jpg' width='140' height='140' align='left' hspace="15"> The GPS.DM Collaboration is searching for dark matter using GPS atomic clock data. The techniques developed by this group have wide applicability to other networks of precision measurement devises searching for exotic physics. <a href="https://gpanelli.github.io/posts/2019/07/GPSDM/">Read More</a>
</div>


<table border="0" style="width:100%">
  <tr>
  	<td width="70%"><h2>The Barry Goldwater Scholarship</h2>
	<div align="justify">
		<br/><img src='/images/facesofthepack.jpg' width='140' height='140' align='left' hspace="15"> I was recently featured in NevadaToday for receiving the Barry Goldwater Scholarship. Check out the article and my tips for applying for this prestigious honor. If you're applying, good luck! <a href="https://gpanelli.github.io/posts/2019/08/facesofthepack/">Read More</a>
	</div>
	</td>
    <td width="30%"><h2>The GPS.DM Collaboration</h2>
	<div align="justify">
		<br/><img src='/images/gpsdm.jpg' width='140' height='140' align='left' hspace="15"> The GPS.DM Collaboration is searching for dark matter using GPS atomic clock data. The techniques developed by this group have wide applicability to other networks of precision measurement devises searching for exotic physics. <a href="https://gpanelli.github.io/posts/2019/07/GPSDM/">Read More</a>
	</div>
	</td>
  </tr>
</table>

<!-- {% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
  <br>
{% endfor %} -->
